__pycache__/

Females/
Males/
images_gender/
Unspecified/

2.Cold_Hinge_Approach/InputImages/Females/
2.Cold_Hinge_Approach/InputImages/Males/
2.Cold_Hinge_Approach/InputImages/icdarTrainImages/

test/
